@font-face {
  font-family: 'Bedstead';
  src: url('../src/assets/fonts/bedstead.otf');
}

@font-face {
  font-family: 'Idealist Sans';
  src: url('../src/assets/fonts/idealist-sans.light_.ttf');
}



html {
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Idealist Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
